<li class="nav-item">
    <div class="dropdown">
        <a class="nav-link dropdown" role="button" 
									 aria-haspopup="true" aria-expanded="false" href="{%url 'base:personal'%}">
            <div class="row">
                <div class="col-1">
                    <i class="far fa-building"></i>
                </div>
                <div class="col">
                    Personal 
                </div>
            </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <i class="fas fa-plus"></i> Agregar
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-pencil-alt"></i> Editar
            </a>
            <a class="dropdown-item" href="#">
                <i class="far fa-trash-alt"></i> Eliminar
            </a>
            <a class="dropdown-item" href="#">
                <i class="far fa-file"></i> Reporte
            </a>
        </div>
    </div>
</li>
