{% extends '../base.html' %}
{% block title %}Error {{ number }}{% endblock %}
{% load static %}

{% block content %}
<div class="container text-center">
    <br><br>
    <img src="{% static 'img/dog.png' %}" width="150">
    <h1 class="display-1">{{ number }}</h1>
    <h4 class="text-secondary">{{ name }}</h4>
    <p class="text-secondary">{{ message }}<br>
    Si el problema persiste contacte al servicio técnico.</p>
    <br><br>
</div>
{% endblock %}