<li class="nav-item">
	<a class="nav-link" href="{%url 'perfil'%}">
		<div class="row">
			<div class="col-1">
				{# <img class="img-profile-sm" src="{% static 'img/img_male.png' %}"> #}
				<i class="fas fa-user-circle"></i>
			</div>
			<div class="col">
				Perfil
			</div>
		</div>
	</a>
</li>
