<li class="nav-item">
	<div class="dropdown">
		<a class="nav-link dropdown" role="button" id="dropdownMenuButton"
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
			<div class="row">
				<div class="col-1">
					<i class="fas fa-bed"></i>
				</div>
				<div class="col">
					Camas <i class="fas fa-angle-down"></i>
				</div>
			</div>
		</a>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <i class="fas fa-plus"></i> Agregar
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-pencil-alt"></i> Editar
            </a>
            <a class="dropdown-item" href="#">
                <i class="far fa-trash-alt"></i> Eliminar
            </a>
            <a class="dropdown-item" href="#">
                <i class="far fa-file"></i> Reporte
            </a>
        </div>
	</div>
</li>