<li class="nav-item">
    <div class="dropdown">
          <a class="nav-link dropdown" role="button" id="dropdownMenuButton" 
													 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'almacen:medicamentos'%}">
            	<div class="row">
					<div class="col-1">
						<i class=" fas fa-file-pdf"></i>
					</div>
					<div class="col">
					 Reportes <i class="fas fa-angle-down"></i>
					</div>
            	</div>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="{%url "base:camaspdf"%}">
                <i class="far fa-file"></i>Reporte Camas
            </a>
            <a class="dropdown-item" href="{%url "base:comidaspdf"%}">
                <i class="far fa-file"></i>Reporte comidas
            </a>
             <a class="dropdown-item" href="{%url "base:reportespdf"%}">
                <i class="far fa-file"></i>Reportes pacientes
            </a>
			<a class="dropdown-item" href="{%url "base:camasxls"%}">
                <i class="fas fa-table"></i>Reporte Camas
            </a>
            <a class="dropdown-item" href="{%url "base:comidasxls"%}">
                <i class="fas fa-table"></i>Reporte comidas
            </a>
             <a class="dropdown-item" href="{%url "base:reportesxls"%}">
                <i class="fas fa-table"></i>Reportes pacientes
            </a>
        </div>
    </div>
</li>
