{% extends '../base.html' %}
{% block title %}Ingreso | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "base/navbar.html" %}


	{% include "base/sidebar.html" %}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class="fas fa-user fa-3x"></i> </div>
                    <div class="col-md-9 col-auto">
                    <h1>Ingreso Acompañante</h1>
                </div>
			
            </div>
        </div>

        <style>
            #alerta {
                display: none;
            }
        </style>
              
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alerta">
            <strong>Ups!</strong> Es necesario llenar todos los campos.
        </div>

        <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><h4><i class="fas fa-user"></i> Personal</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><h4><i class="fas fa-address-card"></i> Foto</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" id="pills-insumos-tab" data-toggle="pill" href="#pills-insumos" role="tab" aria-controls="pills-insumos" aria-selected="false"><h4><i class="fas fa-capsules"></i> Insumos</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="pills-finish-tab" data-toggle="pill" href="#pills-finish" role="tab" aria-controls="pills-finish" aria-selected="false"><h4>Guardar</h4></a>
            </li>
        </ul>

		<form method= "POST" autocomplete="off" action="{%url 'base:add-acompaform'%}" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="form-group">
                        <label for="interno">Interno</label>
                        <select class="form-control" id="interno"name = "select" disabled>
							<option selected value="{{ingreso.id}}">{{ingreso.interno.nombre}},{{ingreso.interno.ape1}}</option>
                        </select>
						<input hidden name="interno" value="{{ingreso.id}}"> </div>

					  <div class="form-group">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" name="nombre" placeholder="Nombre" required maxlength="50">
					  </div>
					  <div class="form-group">
						<label for="ape1">Apellido paterno</label>
						<input type="text" class="form-control" id="ape1"name="ape1" placeholder="Apellido paterno" required maxlength="50">
					  </div>
					  <div class="form-group">
						<label for="ape2">Apellido materno</label>
						<input type="text" class="form-control" id="ape2"name="ape2" placeholder="Apellido materno" required maxlength="50">
					  </div>
					  <div class="form-group">
						<label for="edad">Edad</label>
						<input type="number" class="form-control" id="edad"name="edad" placeholder="Edad" required min="1" max="99" onKeyDown="if(this.value.length==2 && event.keyCode>47 && event.keyCode < 58)return false;">
					  </div>
					  <div class="form-group">
						<label for="sexo">Sexo</label>
						<select class="form-control" id="sexo"name="sexo" required>
						  <option hidden selected value="">Sexo</option>
						  <option value="masculino">Masculino</option>
						  <option value="femenino">Femenino</option>
						</select>
					  </div>
						<div class="form-group">
                            <label for="cama">Cama</label>
                            <select class="form-control" id="cama"name="cama" required>
                              <option hidden selected value="">Cama</option>
							  {%for cama in camas%}
							  <option value = {{cama.id}}>{{cama.Nhab}},{{cama.cama}}</option>
							  {%endfor%}
                            </select>
                        </div>
                        <center>
                          <button type="button" id="siguiente1" class="btn btn-info btn-lg">Siguiente</button>
                      </center>
                      <br><br><br><br>
 
                   </div>
                    
                  

                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <button onclick="playPause()" type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                        Capturar foto
                      </button>
                      <br>
                      <br>
                      <div>
                        <canvas id="snapshot" width=320 height=240></canvas>
                        <img id="canvasImg" style="display: none"/>
                        <input id="canvasInput" name="foto" type="hidden" class="form-control-file">
                      </div>
					{#Foto#}
                     <center>
                          <button type="button" id="siguiente2" class="btn btn-info btn-lg">Siguiente</button>
                      </center>
                      <br><br><br><br>
                </div>

    <div class="tab-pane fade" id="pills-insumos" role="tabpanel" aria-labelledby="pills-insumos-tab">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Insumos</label>
        <select class="form-control" id="insumo1"name="insumo1" required>
          <option hidden selected value="">Insumos</option>
		  {%for insumo in insumos%}
			  {%if insumo.especial != True%}
			      <option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
		  {%endfor%}
        </select>
		</div>
      <div class="form-group">
		<select class="form-control" id="insumo2" name="insumo2" required>
          <option hidden selected value="">Insumos</option>
		  {%for insumo in insumos%}
			  {%if insumo.especial != True%}
			      <option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
		  {%endfor%}
        </select>
	  </div>
      <div class="form-group">
        <select class="form-control" id="insumo3" name="insumo3"required>
          <option hidden selected value="">Insumos</option>
		  {%for insumo in insumos%}
			  {%if insumo.especial != True%}
				  <option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
		  {%endfor%}
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" id="insumo4" name="insumo4"required>
          <option hidden selected value="">Insumos </option>
		  {%for insumo in insumos%}
			  {%if insumo.especial != True%}
				  <option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
		  {%endfor%}
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" id="insumos" name="insumoS">
          <option hidden selected value="-1">Insumos Especiales</option>
		  {%for insumo in insumos%}
			  {%if insumo.especial == True%}
				  <option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
		  {%endfor%}
        </select>
      </div>

      <center>
        <button type="button" id="siguiente3" class="btn btn-info btn-lg">Siguiente</button>
      </center>
    </div>
 
                <div class="tab-pane fade" id="pills-finish" role="tabpanel" aria-labelledby="pills-finish-tab">
                  <center>
                    <button type="submit" class="btn btn-info btn-lg">Guardar registro del paciente</button>
                  </center>
                </div>
            </div>
          </div>
            </form>
            
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Capturar foto</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body mx-auto">
                      <video id="player">
                        <strong>Ups!</strong> Un error ha ocurrido al abrir la cámara
                      </video>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="playPause()">Cerrar</button>
                      <button id="capture" type="button" class="btn btn-primary" data-dismiss="modal" onclick="playPause()">Capturar</button>
                    </div>
                  </div>
                </div>
              </div>
              
              <script>
                var player = document.getElementById('player'); 
                var snapshotCanvas = document.getElementById('snapshot');
                var captureButton = document.getElementById('capture');
              
                var handleSuccess = function(stream) {
                  player.srcObject = stream;
                };
              
                captureButton.addEventListener('click', function() {
                  var context = snapshot.getContext('2d');
                  context.drawImage(player, 0, 0, snapshotCanvas.width, snapshotCanvas.height);
                  //$("#snapshot").val("snapshot");
                  $("#snapshot").val(snapshotCanvas.toDataURL("image/png"));
                  
                  var dataURL = snapshotCanvas.toDataURL();
                  console.log(dataURL);
                  document.getElementById("canvasInput").value = dataURL;
                  document.getElementById("canvasImg").src = dataURL;
                });
              
                navigator.mediaDevices.getUserMedia({video: true}).then(handleSuccess);
            
                function playPause() { 
                  if (player.paused) 
                    player.play(); 
                  else 
                    player.pause(); 
                } 
              </script>
              
              <script>
                  // Example starter JavaScript for disabling form submissions if there are invalid fields
                  (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                      // Fetch all the forms we want to apply custom Bootstrap validation styles to
                      var forms = document.getElementsByClassName('needs-validation');
                      // Loop over them and prevent submission
                      var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                          if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            alert("Es necesario llenar los campos obligatorios.");
                            document.getElementById("alerta").style.display = "block";
                          }
                          form.classList.add('was-validated');
                        }, false);
                      });
                    }, false);
                  })();
                  </script>
            
            <script>
              $('#siguiente1').on('click', function (e) {
                e.preventDefault()
                if( $("#nombre").val() != "" && $("#ape1").val() != "" && $("#ape2").val() != "" && $("#edad").val() != "" && $("#sexo").val() != "" && $("#cama").val() != ""){
                  $('#pills-profile-tab').removeClass("disabled");
                  $('#pills-profile-tab').tab('show')
                }else{
                  document.getElementById("alerta").style.display = "block";
                  $("form").addClass('was-validated');
                }
              })
              $('#siguiente2').on('click', function (e) {
                e.preventDefault()
                if( $("#snapshot").val() != "" ){
                  $('#pills-insumos-tab').removeClass("disabled");
                  $('#pills-insumos-tab').tab('show')
                }else{
                  document.getElementById("alerta").style.display = "block";
                  $("form").addClass('was-validated');
                }
              })
            $('#siguiente3').on('click', function (e) {
            e.preventDefault()
            if( $("#insumo1").val() != "" && $("#insumo2").val() != "" ){
              $('#pills-finish-tab').removeClass("disabled");
              $('#pills-finish-tab').tab('show')
            }else{
              document.getElementById("alerta").style.display = "block";
              $("form").addClass('was-validated');
            }
            //$('#pills-finish-tab').tab('show')
            })

            </script>

{% endblock %}
