{% extends '../base.html' %}
{% block title %}Ayuda | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "base/navbar.html" %}

<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class="far fa-question-circle fa-3x"></i> </div>
                    <div class="col-md-1 col-auto">
                    <h1>Ayuda</h1>
                    </dir>
                </div>
            </div>
            </div>
	          {% include "panel/sidebar.html" %}

            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        ¿El sistema no funciona correctamente?
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      En caso de que no se puedan realizar varias acciones, verifique que esté usando la última versión de los navegadores Google Chrome, Google Chromium, Mozilla Firefox, Opera, Vivaldi, o Microfoft Edge. <br>
                      El sistema esta hecho para no funcionar en los navegadores Internet Explorer y Safari.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Qué hacer en caso de un error "404"?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      En caso de este error, vaya a la página anterior y realicé de nuevo la acción. <br>
                      Si el problema vuelve a surgir, verifique que la URL sea correcta.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Qué hacer en caso de un error "500"?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Dirigirse con la persona encargada del sistema administrativo.<br>
                      En caso de presentarse el mismo inconveniente en repetidas ocaciones, reporte el problema con el soporte técnico.
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          ¿Es posible usar el panel administrativo en mi smartphone o tablet?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                      <div class="card-body">
                        Si, el panel administrativo se adapta a cualquier resolución.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            ¿Es posible actualizar mi información de perfil?
                          </button>
                        </h5>
                      </div>
                      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                          No, la única manera de actualizar los datos de tu perfil es con la persona encargada del sistema administrativo.
                        </div>
                      </div>
                    </div>
              </div>
            
        </main>
    </div>
</div>
{% endblock %}
