{% load static %}

<style>
  #alerta {
    display: none;
  }
</style>

<div class="alert alert-danger alert-dismissible fade show" role="alert" id="alerta">
  <strong>Ups!</strong> Es necesario llenar todos los campos.
</div>
{# Apartado de arriba #}
<ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><h4><i class="fas fa-user"></i> Personal</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><h4><i class="fas fa-address-card"></i> Contacto</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><h4><i class="fas fa-camera"></i> Foto de perfil</h4></a>
  </li>
 <li class="nav-item">
    <a class="nav-link disabled" id="pills-finish-tab" data-toggle="pill" href="#pills-finish" role="tab" aria-controls="pills-finish" aria-selected="false"><h4>Guardar</h4></a>
  </li>
</ul>

{# inicio del form #}
<form method= "POST" autocomplete="off" action="{% url 'form' %}"enctype="multipart/form-data" class="needs-validation" novalidate>
{% csrf_token %}
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required maxlength="50">
        </div>

        <div class="form-group">
          <label for="ape1">Apellido paterno</label>
          <input type="text" class="form-control" id="ape1" name="ape1"placeholder="Apellido paterno" required maxlength="50">
        </div>

        <div class="form-group">
          <label for="ape2">Apellido materno</label>
          <input type="text" class="form-control" id="ape2"  name="ape2"placeholder="Apellido materno" required maxlength="50">
        </div>

        <div class="form-group">
          <label for="edad">Edad</label>
          <input type="number" class="form-control" id="edad"  name="edad"placeholder="Edad" required min="1" max="99" onKeyDown="if(this.value.length==2 && event.keyCode>47 && event.keyCode < 58)return false;">
        </div>

        <div class="form-group">
            <label for="sexo">Sexo</label>
            <select class="form-control" id="sexo" name="sexo" required>
              <option hidden selected value="">Sexo</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
          </div>

        <center>
            <button type="button" id="siguiente1" class="btn btn-info btn-lg">Siguiente</button>
        </center>
        <br><br><br><br>
      </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion"placeholder="Dirección" required maxlength="50">
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" id="telefono"  name="telefono" placeholder="Teléfono" required maxlength="20">
          </div>

        <div class="form-group">
            <label for="Estado">Estado</label>
            <select class="form-control selectpicker"  id="estado" data-size="4"
              name = "estado" data-live-search="true" data-live-search-placeholder="Estado" title ="Estado"required>
              {%for estado in estados%}
                <option  value="{{estado.id}}">{{estado.estado}}</option>
              {%endfor%}
            </select>
          </div>

        <div class="form-group">
            <label for="municipio">municipio</label>
            <select class="form-control selectpicker"  id="municipio" data-size="4" data-live-search="true"
              name="municipio" required>
            </select>
        </div>

          <div class="form-group">
            <label for="indigena">Indigena</label>
            <input type="radio"  id="indigena"  name="indigena"  >
          </div>

          <center>
              <button type="button" id="siguiente2" class="btn btn-info btn-lg">Siguiente</button>
          </center>
          <br><br><br><br>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <button onclick="playPause()" type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">
        Capturar foto
      </button>
      <br>
      <br>
      <div>
        <canvas id="snapshot" width=320 height=240></canvas>
        <img id="canvasImg" style="display: none"/>
        <input id="canvasInput" name="foto" type="hidden" class="form-control-file">
      </div>
      <center>
          <button type="button" id="siguiente4" class="btn btn-info btn-lg">Siguiente</button>
      </center>
      <br><br><br><br>
    </div>
   <div class="tab-pane fade" id="pills-finish" role="tabpanel" aria-labelledby="pills-finish-tab">
      <center>
        <button type="submit" class="btn btn-info btn-lg">Guardar registro del paciente</button>
      </center>
    </div>
</div>
</form>




<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Capturar foto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-auto">
          <video id="player">
            <strong>Ups!</strong> Un error ha ocurrido al abrir la cámara
          </video>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="playPause()">Cerrar</button>
          <button id="capture" type="button" class="btn btn-primary" data-dismiss="modal" onclick="playPause()">Capturar</button>
        </div>
      </div>
    </div>
  </div>
  
 <script>
  var select = document.getElementById('estado');
  //se obtiene un selected
  select.addEventListener('change',function(){
    var selectedOption = this.options[select.selectedIndex];
    var select1 = document.getElementById('municipio');
    $("#municipio").empty();

    //consulta de la api
    fetch('/municipios/'+selectedOption.value+'?format=json')
    .then(res => res.json())
    .then(data =>{
      data.forEach(function(element){
        var opt = document.createElement('option');
        opt.value = element.id;
        opt.text = element.municipio;
        select1.add(opt);
      });
      $('#municipio').selectpicker('refresh');
    })
  });

 </script> 

  <script>
    var player = document.getElementById('player'); 
    var snapshotCanvas = document.getElementById('snapshot');
    var captureButton = document.getElementById('capture');
  
    var handleSuccess = function(stream) {
      player.srcObject = stream;
    };
  
    captureButton.addEventListener('click', function() {
      var context = snapshot.getContext('2d');
      context.drawImage(player, 0, 0, snapshotCanvas.width, snapshotCanvas.height);
      //$("#snapshot").val("snapshot");
      $("#snapshot").val(snapshotCanvas.toDataURL("image/png"));
      
      var dataURL = snapshotCanvas.toDataURL();
      console.log(dataURL);
      document.getElementById("canvasInput").value = dataURL;
      document.getElementById("canvasImg").src = dataURL;
    });
  
    navigator.mediaDevices.getUserMedia({video: true}).then(handleSuccess);

    function playPause() { 
      if (player.paused) 
        player.play(); 
      else 
        player.pause(); 
    } 
  </script>
  
  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                document.getElementById("alerta").style.display = "block";
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>

<script>
  $('#siguiente1').on('click', function (e) {
    e.preventDefault()
    if( $("#nombre").val() != "" && $("#ape1").val() != "" && 
        $("#ape2").val() != "" && $("#edad").val() != "" &&
        $("#sexo").val() != "" ){
      $('#pills-profile-tab').removeClass("disabled");
      $('#pills-profile-tab').tab('show')
    }else{
      document.getElementById("alerta").style.display = "block";
      $("form").addClass('was-validated');
    }
  })
  $('#siguiente2').on('click', function (e) {
    e.preventDefault()
    if( $("#direccion").val() != "" && $("#telefono").val() != "" ){
      $('#pills-contact-tab').removeClass("disabled");
      $('#pills-contact-tab').tab('show')
    }else{
      document.getElementById("alerta").style.display = "block";
      $("form").addClass('was-validated');
    }
  })
  $('#siguiente3').on('click', function (e) {
    e.preventDefault()
    if( $("#snapshot").val() != "" ){
      $('#pills-insumos-tab').removeClass("disabled");
      $('#pills-insumos-tab').tab('show')
    }else{
      document.getElementById("alerta").style.display = "block";
      $("form").addClass('was-validated');
    }
    //$('#pills-finish-tab').tab('show')
  })
  $('#siguiente4').on('click', function (e) {
    e.preventDefault()
    if( $("#exampleFormControlSelect1").val() != "" ){
      $('#pills-finish-tab').removeClass("disabled");
      $('#pills-finish-tab').tab('show')
    }else{
      document.getElementById("alerta").style.display = "block";
      $("form").addClass('was-validated');
    }
    //$('#pills-finish-tab').tab('show')
  })
</script>


<script>
  $( "#sexo" ).change(function() {
    if ( this.value == "femenino" ) {
      $("#embarazada").removeAttr("disabled");
    } else {
      $("#embarazada").attr("disabled", true);
      $("#embarazada").val("");
    }
  });
</script>
