{% extends '../base.html' %}
{% block title %}Camas | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "base/navbar.html" %}

{# Cambiar todo esto para que sea dinamico #}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                {% include "base/alert.html" %}
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class="fas fa-bed fa-3x"></i> </div>
                    <div class="col-md-5 col-auto">
                    <h1>Camas disponibles</h1>
                </div>
            </div>
            </div>
	{% include "base/sidebar.html" %}


  <div class="table-responsive">
      <table class="table table-hover">
        <thead>
  <tr>
    <th>Nhab</th>
    <th>Cama</th>
  </tr>
  </thead>
   <tbody id="myTable">
  {% for ca in camas %}
 <tr>
	 <td>{{ca.Nhab}}</td>
	 <td>{{ca.cama}}</td>
  </tr>
  {% endfor %}
     </tbody>
</table>
</div>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
        </main>
    </div>
</div>
{% endblock %}
