{% extends '../base.html' %}
{% block title %}Pacientes | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "base/navbar.html" %}

<style>
    .img-container {
      width: 50px;
      height: 50px;
      overflow: hidden;
      align-content: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 90%;  
    }
  </style>
  

{# Cambiar todo esto para que sea dinamico #}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                {% include "base/alert.html" %}
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class="fas fa-file-alt  fa-3x"></i> </div>
                    <div class="col-md-1 col-auto"><h1>Ingresados</h1>
                </div>
            </div>
            </div>
  {% include "panel/sidebar.html" %}
  <div style="overflow-x:auto;">
<table class = "table  table-hover">
  <tr>
    <th>Acciones</th>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Sexo</th>
    <th>Foto</th>
  </tr>
<tbody id="myTable">
  {% for u in ingresados %}
    <tr>
    <td><a href="{% url 'base:ingre-detail' u.id %}"><i class="fas fa-info-circle"></i> Visualizar</a></td>
    <td>{{u.interno.nombre}}</td>
    <td>{{u.interno.edad}}</td>
    <td>{{u.interno.sexo}}</td>
    <td><div class="img-container" style="background-image: url({{ u.interno.foto.url }});"></div></td>
    <td hidden>{{u.interno.codigo}}</td>
    </tr>
  
  {% endfor %}
</tbody>
</table>
</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
        </main>
    </div>
</div>
{% endblock %}
