{% extends '../base.html' %}
{% block title %}Ingreso | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "base/navbar.html" %}
{% include "base/sidebar.html" %}

<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class="fas fa-user-md fa-3x"></i> </div>
                    <div class="col-md-1 col-auto">
                    <h1>Ingreso</h1>
                </div>
			
            </div>
        </div>

        <style>
            #alerta {
                display: none;
            }
        </style>
              
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alerta">
            <strong>Ups!</strong> Es necesario llenar todos los campos.
        </div>

        <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><h4><i class="fas fa-user"></i> Personal</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><h4><i class="fas fa-address-card"></i> Contacto</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" id="pills-insumos-tab" data-toggle="pill" href="#pills-insumos" role="tab" aria-controls="pills-insumos" aria-selected="false"><h4><i class="fas fa-capsules"></i> Insumos</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="pills-finish-tab" data-toggle="pill" href="#pills-finish" role="tab" aria-controls="pills-finish" aria-selected="false"><h4>Guardar</h4></a>
            </li>
        </ul>


		<form method= "POST" autocomplete="off" action="{%url 'base:ingreso-form'%}" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                  <div class="form-group">
                    <label for="interno">Interno</label>
                      <select class="form-control selectpicker" data-style="btn-info" id="interno"data-size=4 
                        name = "interno" data-live-search="true" data-live-search-placeholder="Codigo" title ="Codigo Paciente"required>
                        {%for interno in internos%}
                          <option data-tokens="{{interno.codigo}}" value="{{interno.id}}">
                          {{interno.nombre}} {{interno.ape1}} {{interno.ape2}}: {{interno.codigo}}</option>
                        {%endfor%}
                      </select>
                  </div>

                  <div class="form-group">
                    <label for="Esspecialidad">Especialidad</label>
                      <select class="form-control selectpicker"  id="especialidad"data-size=4
                        name = "especialidad" data-live-search="true" data-live-search-placeholder="Codigo" title ="Especialidad"required>
                        {%for espe in especialidades%}
                          <option data-tokens="{{espe.especialidades}}" value="{{espe.id}}">
                          {{espe.especialidades}}</option>
                        {%endfor%}
                      </select>
                  </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" id="hospitalizado"name="hospitalizado">
                        <label class="form-check-label" for="hospitalizado">Hospitalizado</label>
                    </div>

					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="embarazada" name="embarazada">
					  <label class="form-check-label" for="embarazada">Embarazada</label>
					</div>


                    <div class="form-group">
                        <label for="diagnostico">Dianóstico</label>
                        <input type="text" class="form-control" id="diagnostico" name="diagnostico"
							placeholder="Diagnóstico" required>
                    </div>
                    <center>
                        <button type="button" id="siguiente1" class="btn btn-info btn-lg">Siguiente</button>
                    </center>
                    <br><br><br><br>
                  </div>

                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="form-group">
                        <label for="dieta">Dieta</label>
                        <select class="form-control" id="dieta" name="dieta" required>
                            <option value = 1>blanda</option>
                            <option value = 2>baja en grasa</option>
                            <option value = 3>estandar</option>
                        </select>
                      </div>
                      <div class="form-group">
                            <label for="fechafin">Fecha de Cita</label>
                            <input type="date" class="form-control" id="fechaini"name="fechaini" required>
                      </div>
                      <div class="form-group">
                            <label for="cama">Cama</label>
                            <select class="form-control" id="cama"name="cama"required >
                              <option hidden selected value="">Cama</option>
                              {%for cama in camas%}
                              <option value = {{cama.id}}>{{cama.Nhab}},{{cama.cama}}</option>
                              {%endfor%}
                            </select>
                        </div>
                      <center>
                          <button type="button" id="siguiente2" class="btn btn-info btn-lg">Siguiente</button>
                          <button type="button" id="siguiente33" class="btn btn-info btn-lg" hidden>Siguiente</button>
                      </center>
                      <br><br><br><br>
                </div>

    <div class="tab-pane fade" id="pills-insumos" role="tabpanel" aria-labelledby="pills-insumos-tab">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Insumos</label>
        <select class="form-control" id="insumo1" name="insumo1" required>
          <option hidden selected value="-1">Primer insumo</option>
		  {%for insumo in insumos%}
			  {%if insumo.especial != True%}
				<option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
		  {%endfor%}
        </select>
		</div>
      <div class="form-group">
		<select class="form-control" id="insumo2" name="insumo2" required>
          <option hidden selected value="-1">Segundo insumo</option>
          {%for insumo in insumos%}
			  {%if insumo.especial != True%}
				<option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
          {%endfor%}
        </select>
	  </div>
      <div class="form-group">
		<select class="form-control" id="insumo3" name="insumo3" required>
          <option hidden selected value="-1">Tercer insumo</option>
          {%for insumo in insumos%}
			  {%if insumo.especial != True%}
				<option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
          {%endfor%}
        </select>
	  </div>
      <div class="form-group">
		<select class="form-control" id="insumo4" name="insumo4" required>
          <option hidden selected value="-1">Cuarto insumo</option>
          {%for insumo in insumos%}
			  {%if insumo.especial != True%}
				<option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
          {%endfor%}
        </select>
	  </div>

      <div class="form-group">
        <select class="form-control" id="insumoS" name="insumoS">
          <option hidden selected value="-1">Insumos Especiales</option>
		  {%for insumo in insumos%}
			  {%if insumo.especial == True%}
				  <option value="{{insumo.id}}">{{insumo.name}}</option>
			  {%endif%}
		  {%endfor%}
        </select>
      </div>

      <center>
        <button type="button" id="siguiente3" class="btn btn-info btn-lg">Siguiente</button>
      </center>
    </div>
 

	<div class="tab-pane fade" id="pills-finish" role="tabpanel" aria-labelledby="pills-finish-tab">
		<div class="form-group form-check">
			<center>
        <br>
        <br>
				<input class="form-check-input" type="checkbox" id="acompa"name="acompa">
        <label class="form-check-label" for="hospitalizado">¿Tiene Acompañante?</label>
        
        <br>
        <br>
        <br>
        <br>
          <button type="button" id="modalito"class="btn btn-primary" 
              data-toggle="modal" data-target="#exampleModalCenter"style="display:none;">
            Guardar registro del paciente. 
          </button>
          <button type="submit" id="dale" class="btn btn-info btn-lg" style="display:none;">Guardar registro del paciente</button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Cobranza</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                                <div class="form-group">
                                    <label for="precioInput">Folio</label>
                                    <input type="text" class="form-control" id="precioInput" value="0123456789" disabled>
                                    <small id="emailHelp" class="form-text text-muted">El folio se genera de manera aleatoria, como en tu perra vida</small>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="precioInput">Precio</label>
                                        <input type="number" class="form-control" id="precioInput" name="precio">
                                    </div>
                                    <div class="col">
                                        <label for="habitantesInput">Número de habitantes</label>
                                        <input type="number" class="form-control" id="habitantesInput" name="habitantes">
                                    </div>
                                </div>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="descuento" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">-25%</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="descuento" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">-50%</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="descuento" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">-75%</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="descuento" id="inlineRadio4" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">-100%</label>
                                </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="submit"class="btn btn-info btn-lg">Guardar registro del paciente</button>
                </div>
              </div>
            </div>
          </div> 

        <!--test-->

			</center>
		</div>
	</div>
</div>
</form>
            
<script>
  var check = document.getElementById('hospitalizado');
  //se desactiva la cama
  check.addEventListener('change',function(){
    var cama = document.getElementById('cama');
    cama.disabled = true;
    cama.required = false;

    var acom = document.getElementById('acompa');
    acom.checked = true;
    var modalito = document.getElementById('modalito');
    modalito.style.display = "block";
    var sig2 = document.getElementById('siguiente2');
    sig2.hidden = true;
    var sig3 = document.getElementById('siguiente33');
    sig3.hidden = false;
  });
  
  var checkc = document.getElementById('acompa');
  checkc.addEventListener('change',function(){
    if(checkc.checked == true){
      document.getElementById("modalito").style.display = "none";
      document.getElementById('dale').style.display = "block";
    }else{
      document.getElementById("modalito").style.display = "block";
      document.getElementById('dale').style.display = "none";
    }
  });
</script>
              
              
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
	'use strict';
	window.addEventListener('load', function() {
	  // Fetch all the forms we want to apply custom Bootstrap validation styles to
	  var forms = document.getElementsByClassName('needs-validation');
	  // Loop over them and prevent submission
	  var validation = Array.prototype.filter.call(forms, function(form) {
		form.addEventListener('submit', function(event) {
		  if (form.checkValidity() === false) {
			event.preventDefault();
			event.stopPropagation();
			alert("Es necesario llenar los campos obligatorios.");
			document.getElementById("alerta").style.display = "block";
		  }
		  form.classList.add('was-validated');
		}, false);
	  });
	}, false);
  })();
</script>

<script>
	$('#siguiente1').on('click', function (e) {
	e.preventDefault()
    if( $("#interno").val() != "" && $("#especialidad").val() != "" && $("#diagnostico").val() != "" ){
      $('#pills-profile-tab').removeClass("disabled");
      $('#pills-profile-tab').tab('show')
    }else{
      document.getElementById("alerta").style.display = "block";
      $("form").addClass('was-validated');
    }
	})
	$('#siguiente2').on('click', function (e) {
  e.preventDefault()
    var cama = document.getElementById('cama');
    if(cama.disabled){
      if( $("#dieta").val() != "" && $("#fechafin").val() != ""){
        $('#pills-insumos-tab').removeClass("disabled");
        $('#pills-insumos-tab').tab('show')
      }else{
        document.getElementById("alerta").style.display = "block";
        $("form").addClass('was-validated');
      }
    }else{
      if( $("#dieta").val() != "" && $("#fechafin").val() != "" && $("#cama").val() != "" ){
        $('#pills-insumos-tab').removeClass("disabled");
        $('#pills-insumos-tab').tab('show')
      }else{
        document.getElementById("alerta").style.display = "block";
        $("form").addClass('was-validated');
      }
    }
  })

	$('#siguiente3').on('click', function (e) {
	e.preventDefault()
    if( $("#insumo1").val() != "" && $("#insumo2").val() != "" ){
      $('#pills-finish-tab').removeClass("disabled");
      $('#pills-finish-tab').tab('show')
      document.getElementById("modalito").style.display = "block";
    }else{
      document.getElementById("alerta").style.display = "block";
      $("form").addClass('was-validated');
    }
	})

	$('#siguiente33').on('click', function (e) {
	e.preventDefault()
    if( $("#insumo1").val() != "" && $("#insumo2").val() != "" ){
      $('#pills-finish-tab').removeClass("disabled");
      $('#pills-finish-tab').tab('show')
    }else{
      document.getElementById("alerta").style.display = "block";
      $("form").addClass('was-validated');
    }
	})
</script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
    var mySelect = $('#first-disabled2');
    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });
    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });
    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
	});
</script>

{% endblock %}
