{% extends '../base.html' %}
{% block title %}Eliminar paciente{% endblock %}
{% load static %}

{% block content %}
{% include "base/navbar.html" %}


	{% include "base/sidebar.html" %}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"><i class="fas fa-trash fa-3x"></i></div>
                    <div class="col-md-1 col-auto">
                    <h1>Eliminar</h1>
                </div>
			
            </div>
        </div>

        <style>
            #alerta {
                display: none;
            }
        </style>
              
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alerta">
            <strong>Ups!</strong> Es necesario llenar todos los campos.
        </div>

        <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true"><h4><i class="fas fa-address-card"></i> Insumos</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="pills-finish-tab" data-toggle="pill" href="#pills-finish" role="tab" aria-controls="pills-finish" aria-selected="false"><h4 class="text-danger"><i class="fas fa-trash"></i> Eliminar</h4></a>
            </li>
        </ul>

		<form method= "POST" autocomplete="off" action="{%url 'base:drop-ingreso3'%}" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="form-group">
						<input type="hidden" id="ingreso" name="ingreso" value="{{ingreso.id}}"> 
					{%for insumo in insumos%}
					<div class="alert alert-warning alert-dismissible fade show" role="alert" >
						<strong>Requisa: </strong>{{insumo.cantidad}}:{{insumo.nombre}}
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{%endfor%}

                    </div>
                      <center>
                          <button type="button" id="siguiente1" class="btn btn-info btn-lg">Siguiente</button>
                      </center>
                      <br><br><br><br>
                </div>
                <div class="tab-pane fade" id="pills-finish" role="tabpanel" aria-labelledby="pills-finish-tab">
                  <center>
                    <button type="submit" class="btn btn-danger btn-lg">Dar de Baja</button>
                  </center>
                </div>
            </div>
            </form>
            
              
              
              <script>
                  // Example starter JavaScript for disabling form submissions if there are invalid fields
                  (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                      // Fetch all the forms we want to apply custom Bootstrap validation styles to
                      var forms = document.getElementsByClassName('needs-validation');
                      // Loop over them and prevent submission
                      var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                          if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            alert("Es necesario llenar los campos obligatorios.");
                            document.getElementById("alerta").style.display = "block";
                          }
                          form.classList.add('was-validated');
                        }, false);
                      });
                    }, false);
                  })();
                  </script>
            
            <script>
              $('#siguiente1').on('click', function (e) {
                e.preventDefault()
                if( $("#dieta").val() != "" && $("#fechaini").val() != "" && $("#fechafin").val() != "" && $("#cama").val() != "" ){
                  $('#pills-finish-tab').removeClass("disabled");
                  $('#pills-finish-tab').tab('show')
                }else{
                  document.getElementById("alerta").style.display = "block";
                  $("form").addClass('was-validated');
                }
              })
            </script>

{% endblock %}
