{% extends '../base.html' %}
{% block title %}Eliminar paciente{% endblock %}
{% load static %}

{% block content %}
{% include "base/navbar.html" %}


	{% include "base/sidebar.html" %}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"><i class="fas fa-trash fa-3x"></i></div>
                    <div class="col-md-1 col-auto">
                    <h1>Baja</h1>
                </div>
			
            </div>
        </div>

        <style>
            #alerta {
                display: none;
            }
        </style>
              
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alerta">
            <strong>Ups!</strong> Es necesario llenar todos los campos.
        </div>

        <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><h4><i class="fas fa-user"></i> Paciente</h4></a>
            </li>
        </ul>

		<form method= "POST" autocomplete="off" action="{%url 'base:drop-ingreso2'%}" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="form-group">
                        <label for="interno">Interno</label>
                        <select class="form-control selectpicker" id="interno"name = "interno" data-live-search="true"
						data-style="btn-danger" data-live-search-placeholder="Codigo" title="Codigo Del interno"required>
							{%for ingreso in ingresos%}
								<option data-tokens="{{ingreso.interno.codigo}}"value="{{ingreso.pk}}">
								{{ingreso.interno.nombre}} {{ingreso.interno.ape1}} {{ingreso.interno.ape2}}
								: {{ingreso.interno.codigo}}</option>
							{%endfor%}
                        </select>
                    </div>

                    <center>
                        <button type="submit" class="btn btn-danger btn-lg" >Dar de baja al Interno</button>
                    </center>
                    <br><br><br><br>
                  </div>

                <div class="tab-pane fade" id="pills-finish" role="tabpanel" aria-labelledby="pills-finish-tab">
                  <center>
                    <button type="submit" class="btn btn-danger btn-lg">Eliminar registro del paciente</button>
                  </center>
                </div>
            </div>
            </form>
            
              
              
              <script>
                  // Example starter JavaScript for disabling form submissions if there are invalid fields
                  (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                      // Fetch all the forms we want to apply custom Bootstrap validation styles to
                      var forms = document.getElementsByClassName('needs-validation');
                      // Loop over them and prevent submission
                      var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                          if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            alert("Es necesario llenar los campos obligatorios.");
                            document.getElementById("alerta").style.display = "block";
                          }
                          form.classList.add('was-validated');
                        }, false);
                      });
                    }, false);
                  })();
                  </script>
            
            <script>
              $('#siguiente1').on('click', function (e) {
                e.preventDefault()
                if( $("#interno").val() != "" && $("#especialidad").val() != "" && $("#diagnostico").val() != "" ){
                  $('#pills-profile-tab').removeClass("disabled");
                  $('#pills-profile-tab').tab('show')
                }else{
                  document.getElementById("alerta").style.display = "block";
                  $("form").addClass('was-validated');
                }
              })
            </script>

{% endblock %}
