{% extends "../base.html" %}
{% block title %}Detalles del ingresado{% endblock %}
{% load static %}
{% block content %}

{% include "base/navbar.html" %}
{% include "panel/sidebar.html" %}

<style>
    .img-container {
          width: 250px;
          height: 250px;
          overflow: hidden;
          align-content: center;
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 90%;  
    }
</style>

{# Main section  #}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"><i class="fas fa-info-circle fa-3x"></i></div>
                    <div class="col-md-9 col-auto">
                    <h1>Detalles del ingreso</h1>
                </div>
            </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div style="float: right; margin-right: 10%;">
                  {% if ingreso %}
                    <div class="img-container" style="background-image: url({{ ingreso.interno.foto.url }});"></div>
                  {% else %}
                    <h3>No hay imagen pra mostrar</h3>
                  {% endif %}
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {%if user.user_type != 5%}
						<button type="button" class="btn btn-outline-primary" role="button" aria-pressed="true" 
							data-toggle="modal" data-target="#exampleModal">Agregar insumos</button>
					{%if ingreso.acompas < 2%}
						<a href="{%url 'base:add-acompa' ingreso.id %}" role="button" aria-pressed="true" 
							class="btn btn-outline-primary">Agregar acompañante</a>
					{%endif%}
                    {%if user.user_type == 7%}
						{%if ingreso.acompas >= 2%}
							<a href="{%url 'base:add-acompa' ingreso.id %}" role="button" aria-pressed="true" 
								class="btn btn-outline-warning">Agregar acompañante</a>
						{%endif%}
					{%endif%}
                  </div>
				      <a href="{%url 'base:drop-ingreso22' ingreso.id %}" role="button" aria-pressed="true" 
					           class="btn btn-outline-danger">Dar de Baja</a>
					{%endif%}
              <h1 class="display-4">
                {{ ingreso.interno.nombre }}
                {{ ingreso.interno.ape1 }}
                {{ ingreso.interno.ape2 }}
              </h1>

              <dl class="row">
                <dt class="col-sm-3">Edad</dt>
                <dd class="col-sm-9">{{ ingreso.interno.edad }}</dd>
                <dt class="col-sm-3">Sexo</dt>
                <dd class="col-sm-9">{{ ingreso.interno.sexo }}</dd>
                <dt class="col-sm-3">Número telefónico</dt>
                <dd class="col-sm-9">{{ ingreso.interno.telefono }}</dd>
				<dt class="col-sm-3">Fecha de Ingreso</dt>
        <dd class="col-sm-9">{{ ingreso.fechaIngre }}</dd>
				<dt class="col-sm-3">Fecha de Cita</dt>
        <dd class="col-sm-9">{{ ingreso.fechaCita }}</dd>
        {% if ingre.hospitalizado == True%}
          <dt class="col-sm-3">Cama prestada</dt>
          <dd class="col-sm-9">{{ ingreso.cama.Nhab }},{{ingreso.cama.cama}}</dd>
        {%else%}
          <dt class="col-sm-3">Hospitalizado:</dt>
          <dd class="col-sm-9"><b>SI</b></dd>
        {%endif%}
				<dt class="col-sm-3">Dieta</dt>
				<dd class="col-sm-9">
          {%if ingreso.dieta == 1 %}Blanda
					{%elif ingreso.dieta == 2%}Baja en grasa
          {%else%}Estandar{%endif%}</dd>

				<dt class="col-sm-3">Especialidad</dt>
				<dd class="col-sm-9">{{ ingreso.especialidad }}</dd>
				<dt class="col-sm-3">Diagnóstico</dt>
				<dd class="col-sm-9">{{ ingreso.diagnostico }}</dd>
        <dt class="col-sm-3">Codigo Unico</dt>
				<dd class="col-sm-9"><b>{{ codigo }}</b></dd>
				{% if ingreso.interno.sexo == "femenino"%}
					{%if ingreso.interno.embarazo == True %}
						<dt class="col-sm-3">Embarazada</dt>
						<dd class="col-sm-9">SI</dd>
					{%else%}
						<dt class="col-sm-3">Embarazada</dt>
						<dd class="col-sm-9">NO</dd>
					{%endif%}
				{%endif%}
              </dl>
              </div>
            </div>

			<br>
              <div class="col-sm">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <h3>Insumnos prestados</h3>
                       <table class="table table-hover">
                          <thead>
                            <tr>
							  <th>nombre</th>
                              <th>cantidad</th>
                            </tr>
                          </thead>
                          <tbody>
						{% if insumosp%}
                        {%for insu in insumosp%}
                              <tr>
                                <td>{{insu.nombre}}</td>
								<td>{{insu.cantidad}}</td>
							  </tr>
						{%endfor%}
						{%endif%} 
                          </tbody>
                        </table>
                      </div>
                    </div>
              </div>
            </div>


{#Acompañantes section #}
{%if acompas %}
<div class="container-fluid">
    <div class="row">
        <main role="main">
			<div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
              <div class="col-md-1 col-auto"><i class="fas fa-info-circle fa-3x"></i></div>
                  <div class="col-md-9 col-auto">
				      <h1>Acompañantes</h1>
				  </div>
			 </div>
	{%for acom in acompas%}
         <div class="row">
              <div class="col-sm">
                    <div class="img-container" style="background-image: url({{ acom.foto.url }});"></div>
              <h1 class="display-4">
                {{ acom.nombre }}
                {{ acom.ape1 }}
                {{ acom.ape2 }}
              </h1>
              <dl class="row">
                <dt class="col-sm-3">Edad</dt>
                <dd class="col-sm-9">{{ acom.edad }}</dd>
                <dt class="col-sm-3">Sexo</dt>
                <dd class="col-sm-9">{{ acom.sexo }}</dd>
				<dt class="col-sm-3">Cama</dt>
				<dd class="col-sm-9">{{ acom.cama.Nhab }},{{acom.cama.cama}}</dd>
			  </dl>
              </div>
	{%endfor%}
			</div>
        </main>
    </div>
</div>
{%endif%}



{# Modal section #}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Insumos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
	<form action="{%url 'base:add-insumos' ingreso.id %}" method="post" style="display: inline;">
      {% csrf_token %}
      <div class="form-group">
				 <select class="form-control" id="insumo"name="insumo" >
				  <option hidden selected value="">Insumos</option>
				  {%for insumo in insumos %}
				      <option value="{{insumo.id}}">{{insumo.name}}</option>
				  {%endfor%}
				</select>
				</div>

			  <div class="form-group">
				<select class="form-control" id="exampleFormControlSelect2" name="insumo1">
				  <option hidden selected value="">Insumos Especiales</option>
				  {% for insumo in insumos %}
					  {% if insumo.especial == True %}
						  <option value="{{insumo.id}}">{{insumo.name}}</option>
					  {%endif%}
				  {%endfor%}
				</select>
				  <br>
			  </div>
				<button type="submit" class="btn btn-primary" >
				    Guardar
				</button>
				</form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br>
{% endblock %}

