{% extends '../base.html' %}
{% block title %}Ingreso | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "base/navbar.html" %}


	{% include "base/sidebar.html" %}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class="fas fa-home fa-3x"></i> </div>
                    <div class="col-md-1 col-auto">
                    <h1>Registro</h1>
                </div>
			
            </div>
            </div>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
        
        </main>
    </div>
</div>

{% endblock %}
