{% extends "../base.html" %}
{% block title %}Detalles del interno{% endblock %}
{% load static %}
{% block content %}

{% include "panel/navbar.html" %}
{% include "panel/sidebar.html" %}

<style>
    .img-container {
          width: 200px;
          height: 200px;
          overflow: hidden;
          align-content: center;
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 90%;  
    }
</style>


<!-- revisa si esta visitando exactamente despues de crearlo-->
{% if pi %}
<script> $(document).ready(function(){
   $("#exampleModalCenter").modal();
});</script>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"> <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Registro Terminado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" display:block>

        <div class="card border mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">
            <h5 class="card-title">Persona Registrada Exitosamente</h5>
          </div>
          <div class="card-body ">
            <p class="card-text">Debe serle entregado el siguiente codigo personal: <b>{{codigo}}</b></p>
          </div>
          <div class="card-footer bg-transparent border-success">Footer</div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> 
<!--modal-->

<div class="container-fluid">
{% include "almacen/alert.html" %}
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"><i class="fas fa-info-circle fa-3x"></i></div>
                    <div class="col-md-9 col-auto">
                    <h1>Detalles del paciente</h1>
                </div>
            </div>
            </div>

            <div class="row">
              <div class="col-sm">
                  {% if internos %}
                    <div class="img-container" style="background-image: url({{ internos.foto.url }});"></div>
                  {% else %}
                    <h3>No hay imagen pra mostrar</h3>
                  {% endif %}
              <h1 class="display-4">
                {{ internos.nombre }}
                {{ internos.ape1 }}
                {{ internos.ape2 }}
              </h1>
              <dl class="row">
                <dt class="col-sm-3">Codigo Unico</dt>
                <dd class="col-sm-9">{{ codigo}}</dd>
                <dt class="col-sm-3">Edad</dt>
                <dd class="col-sm-9">{{ internos.edad }}</dd>
                <dt class="col-sm-3">Sexo</dt>
                <dd class="col-sm-9">{{ internos.sexo }}</dd>
                <dt class="col-sm-3">Número telefónico</dt>
                <dd class="col-sm-9">{{ internos.telefono }}</dd>
                <dt class="col-sm-3">Estado</dt>
                <dd class="col-sm-9">{{ estado }}</dd>
                <dt class="col-sm-3">Municipio</dt>
                <dd class="col-sm-9">{{ municipio }}</dd>
                <dt class="col-sm-3">Direccion</dt>
                <dd class="col-sm-9">{{ internos.direccion }}</dd>

				{%if user.user_type != 5%}
                <dt class="col-sm-3">Acciones</dt>
                <dd class="col-sm-9">
				    <a href="#" role="button" aria-pressed="true" data-toggle="modal" 
					data-target="#exampleModal" class="btn btn-outline-danger">Generar reporte</a>

                </dd>
				{%endif%}
              </dl>
              </div>
              <div class="col-sm">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <h3>Reportes</h3>
                       <table class="table table-hover">
                          <thead>
                            <tr>
                        <th>Nivel del reporte</th>
                              <th>reporte</th>
                            </tr>
                          </thead>
                          <tbody>
						{% if reportes%}
                        {%for repo in reportes%}
                              <tr>
                        {%if repo.n1%}
                                <td>Nivel 1</td>
                        <td>{{repo.n1}}</td>
                        {%elif repo.n2%}
                                <td>Nivel 2</td>
                        <td>{{repo.n2}}</td>
                        {%else%}
                        <td>Nivel 3</td>
                        <td>{{repo.n3}}</td>
                        {%endif%}
                              </tr>
                        {%endfor%}
						{%else%}
							<td>{{repo.n3}}</td>
						{%endif%}
                          </tbody>
                        </table>
                      </div>
                    </div>
              </div>
            </div>

        </main>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reporte</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
				<form action="{% url 'base:add-reporte' internos.id %}" method="post" style="display: inline;">
          {% csrf_token %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="nivel" value="N1">
            <label class="form-check-label">Nivel 1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="nivel" value="N2">
            <label class="form-check-label">Nivel 2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="nivel" value="N3">
            <label class="form-check-label">Nivel 3</label>
          </div>
          <br>
					<textarea name="reporte" cols="40" rows="10" class="vLargeTextField" required></textarea>
					<button type="submit" class="btn btn-primary" >
						Guardar
					</button>
				</form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>



{% endblock %}

