{% extends "../base.html" %}
{% block title %}Información del perfil{% endblock %}
{% load static %}
{% block content %}

{% include "panel/navbar.html" %}

{% include "panel/sidebar.html" %}

<style>
  .img-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    align-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 90%;
    background-image: url("{{ perfil.user_image.url }}");  
  }
</style>

    <div class="container-fluid">
        <div class="row">
            <main role="main">
                <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                    <div class="row">
                        <div class="col-md-1 col-auto"> <i class="fas fa-user fa-3x"></i> </div>
                        <div class="col-md-1 col-auto">
                        <h1>Perfil</h1>
                    </div>
          
                </div>
            </div>
<div class="container" style="margin-bottom: 150px;">
<div class="row">

  <div class="center">
    <div class="panel panel-default">
      <div class="panel-body">
          <h2><small>id: </small>{{ perfil.user_type }} <br>
              <small>username: </small>{{ perfil.user.username }} <br>
              <small>name: </small>{{ perfil.user.first_name }} <br></h2>
        <div>
          
          {% if perfil.user_image %}
            <div class="img-container" style="z-index: 100;"></div>
          {% else %}
            <h3>No hay imagen pra mostrar</h3>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>

  

{% endblock %}

