{% extends "../base.html" %}
{% block title %}Detalles del personal{% endblock %}
{% load static %}
{% block content %}

{% include "panel/navbar.html" %}
{% include "panel/sidebar.html" %}

<style>
    .img-container {
          width: 200px;
          height: 200px;
          overflow: hidden;
          align-content: center;
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 90%;  
    }
</style>

<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"><i class="fas fa-info-circle fa-3x"></i></div>
                    <div class="col-md-9 col-auto">
                    <h1>Detalles del personal</h1>
                </div>
            </div>
            </div>

            <div class="row">
              <div class="col-sm">
                  {% if profile %}
                    <div class="img-container" style="background-image: url({{ profile.user_image.url }});"></div>
                  {% else %}
                    <h3>No hay imagen para mostrar</h3>
                  {% endif %}
              <h1 class="display-4">
                {{ profile.user.last_name }}
                {{ profile.user.username }}
                {{ profile.user.first_name }}
              </h1>
              <dl class="row">
                <dt class="col-sm-3">Última sesión </dt>
                <dd class="col-sm-9">{{ profile.user.last_login }}</dd>
            </dl>

            </div>
            </div>
    </main>
    </div>
</div>



{% endblock %}

