{% load static %}





<div class="row mx-auto">
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Primer ingreso</h5>
        <h1 class="display-2 text-center" style="color:darkcyan"><i class="fas fa-user"></i></h1>
        <p class="card-text">Registrar paciente nuevo al albergue.</p>
		<a href="{%url 'base:add-pacientes'%}" class="btn btn-outline-primary btn-block">Visualizar</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Reingreso</h5>
        <h1 class="display-2 text-center" style="color:darkcyan"><i class="fas fa-file-alt"></i></h1>
        <p class="card-text">Ingresar paciente nuevo en al albergue.</p>
		<a href="{%url 'base:add-ingreso'%}" class="btn btn-outline-primary btn-block">Registrar</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
		  <h5 class="card-title">Dar de baja</h5>
        <h1 class="display-2 text-center" style="color:darkcyan"><i class="fas fa-sign-out-alt"></i></h1>
        <p class="card-text">Dar de alta a las personas del albergue.</p>
        <a href="{%url 'base:drop-ingreso'%}" class="btn btn-outline-primary btn-block">Eliminar</a>
      </div>
    </div>
  </div>
</div>
