{% load static %}
    
<form method= "POST" autocomplete="off" action="{%url 'form'%}" enctype="multipart/form-data">
{% csrf_token %}
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" name="nombre" placeholder="Nombre" required maxlength="50">
  </div>
  <div class="form-group">
    <label for="ape1">Apellido paterno</label>
    <input type="text" class="form-control" id="ape1" placeholder="Apellido paterno" required maxlength="50">
  </div>
  <div class="form-group">
    <label for="ape2">Apellido materno</label>
    <input type="text" class="form-control" id="ape2" placeholder="Apellido materno" required maxlength="50">
  </div>
  <div class="form-group">
    <label for="edad">Edad</label>
    <input type="text" class="form-control" id="edad" placeholder="Edad" required maxlength="2">
  </div>
  <div class="form-group">
    <label for="sexo">Sexo</label>
    <select class="form-control" id="sexo" required>
      <option hidden selected value="0">Sexo</option>
      <option value="masculino">Masculino</option>
      <option value="femenino">Femenino</option>
    </select>
  </div>
  <div class="form-group">
    <label for="direccion">Dirección</label>
    <input type="text" class="form-control" id="direccion" placeholder="Dirección" required maxlength="50">
  </div>
  <div class="form-group">
    <label for="telefono">Teléfono</label>
    <input type="text" class="form-control" id="telefono" placeholder="Teléfono" required maxlength="50">
  </div>
  <button onclick="playPause()" type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">
    Capturar foto
  </button>
  <span style="display: none;">
    <canvas id="snapshot" width=320 height=240></canvas>
  </span>
  <br><br>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Capturar foto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-auto">
        <video id="player">
          <strong>Ups!</strong> Un error ha ocurrido al abrir la cámara
        </video>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="playPause()">Cerrar</button>
        <button id="capture" type="button" class="btn btn-primary" data-dismiss="modal" onclick="playPause()">Capturar</button>
      </div>
    </div>
  </div>
</div>

<script>
  var player = document.getElementById('player'); 
  var snapshotCanvas = document.getElementById('snapshot');
  var captureButton = document.getElementById('capture');

  var handleSuccess = function(stream) {
    player.srcObject = stream;
  };

  captureButton.addEventListener('click', function() {
    var context = snapshot.getContext('2d');
    context.drawImage(player, 0, 0, snapshotCanvas.width, 
        snapshotCanvas.height);
  });

  navigator.mediaDevices.getUserMedia({video: true})
      .then(handleSuccess);

  function playPause() { 
    if (player.paused) 
      player.play(); 
    else 
      player.pause(); 
  } 
</script>
