{% extends '../base.html' %}
{% block title %}Panel admnistrativo | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "panel/navbar.html" %}
{% include "panel/sidebar.html" %}

{# Cambiar todo esto para que sea dinamico #}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                {% include "panel/alert.html" %}
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class="fas fa-home fa-3x"></i> </div>
                    <div class="col-md-1 col-auto">
                    <h1>Inicio</h1>
                </div>
			
            </div>
            </div>

            {# include "panel/form-acom.html" #}
            {% include "panel/boxes.html" %}
            {% include "panel/content.html" %}

        
        </main>
    </div>
</div>
{% endblock %}
