body {
  font-size: 1rem;
}

/* Login form */
.form-signin {
  width: 100%;
  max-width: 330px;
  margin: auto;
}

.form-signin-dim {
  margin-top: 70px;
  margin-bottom: 70px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Admin panel */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  width: 18%;
  -webkit-transition: width .5s;
  transition: width .5s;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link:hover{
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #266fbd;
}


.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .form-control, .input-group-text {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark, .input-group-text {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, 0);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-control-dark::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


.navbar-toggler{
  margin-left: 15px;
}

[role="main"] {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 2%;
  width: 100%;
}

.img-profile {
  border-radius: 50%;
  width: 85px;
}

.img-profile-sm {
  border-radius: 50%;
  width: 20px;
}

video {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {

  .sidebar {
    padding: 96px 0 0;
    width: 0%;
  }

  .sidebar-sticky {
    padding-bottom: 100px;
  }

  [role="main"] { 
    margin-top: 100px; 
    margin-left: 2%;
    margin-right: 2%;
  }
  
}
