<li class="nav-item">
    <div class="dropdown">
          <a class="nav-link dropdown" role="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            	<div class="row">
					<div class="col-1">
						<i class="fas fa-box-open"></i>
					</div>
					<div class="col">
						Almacen <i class="fas fa-angle-down"></i>
					</div>
            	</div>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		{%if user.user_type != 5%}
			<a class="dropdown-item" href="{%url 'almacen:add-producto'%}">
                <i class="fas fa-plus"></i> Agregar
            </a>
		{%endif%}
			<a class="dropdown-item" href="{%url 'almacen:index'%}">
                <i class="fas fa-pencil-alt"></i> Ver
            </a>
       </div>
    </div>
</li>
