<li class="nav-item">
    <div class="dropdown">
          <a class="nav-link dropdown" role="button" id="dropdownMenuButton" 
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'almacen:medicamentos'%}">
            	<div class="row">
					<div class="col-1">
						<i class="far fa-file-pdf"></i>
					</div>
					<div class="col">
					 Reportes <i class="fas fa-angle-down"></i>
					</div>
            	</div>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="{%url "almacen:pro"%}">
                <i class="far fa-file"></i> Productos
            </a>
            <a class="dropdown-item" href="{%url "almacen:med"%}">
                <i class="far fa-file"></i> Medicamentos
            </a>
			<a class="dropdown-item" href="{%url "almacen:pc"%}">
                <i class="far fa-file"></i> Productos caducados
            </a>
            <a class="dropdown-item" href="{%url "almacen:mc"%}">
                <i class="far fa-file"></i> Medicamentos caducados
            </a>
			<a class="dropdown-item" href="{%url "almacen:ip"%}">
                <i class="far fa-file"></i>Insumos Prestados
            </a>
			<a class="dropdown-item" href="{%url "almacen:proxls"%}">
                <i class="fas fa-table"></i> Productos
            </a>
			<a class="dropdown-item" href="{%url "almacen:medxls"%}">
                <i class="fas fa-table"></i> Medicamentos
            </a>
			<a class="dropdown-item" href="{%url "almacen:pcxls"%}">
                <i class="fas fa-table"></i> Productos caducados
            </a>
            <a class="dropdown-item" href="{%url "almacen:mcxls"%}">
                <i class="fas fa-table"></i> Medicamentos caducados
            </a>
			<a class="dropdown-item" href="{%url "almacen:ipxls"%}">
                <i class="fas fa-table"></i>Insumos Prestados
            </a>
 

        </div>
    </div>
</li>
