{% extends '../base.html' %}
{% block title %}Iniciar sesión | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
<div class="text-center form-signin-dim">
    <img src="{% static 'img/logo-lineal.png' %}" alt="DIF Jalisco" width="35%"><br><br>
	<form method = "POST" class="form-signin" autocomplete="off">
        {% csrf_token %}
        
 
		 {% for field in form %}
            <div class="input-group">
                <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
				<input required class="form-control" id="{{ field.id_for_label }}"maxlength="30" name="{{ field.html_name }}"{% if field.id_for_label == 'id_password' %}type="password"{% else %}
                {% endif %} {% if field.id_for_label == 'id_password' %}placeholder="Contraseña"{% else %}placeholder="Número de trabajador" {% endif %}/> 
                {{ field.errors }}
            </div>
        {% endfor %} 
		<button class="btn btn-lg btn-info btn-block" type="submit">Entrar</button>
    </form>
</div>
{% endblock %}
