{% extends '../base.html' %}
{% block title %}Insumos | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "almacen/navbar.html" %}

{# Cambiar todo esto para que sea dinamico #}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                {# include "almacen/alert.html" #}
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class=" fas fa-capsules fa-3x"></i> </div>
                    <div class="col-md-1 col-auto">
                    <h1>Insumnos</h1>
                </div>
            </div>
            </div>
	{% include "almacen/sidebar.html" %}
    <div style="overflow-x:auto;">
<table class = "table table-hover">
  <tr>
    <th>Nombre</th>
    <th>Cantidad</th>
    <th>Almacen</th>
    <th>Prestados</th>
  </tr>
  {% for i in insumos %}
 <tr>
	 <td>{{i.name}}</td>
	 <td>{{i.cantidad}}</td>
	 <td>{{i.almacen}}</td>
	 <td>{{i.prestadas}}</td>

  </tr>
  {% endfor %}
</table>
<br>
<br>


<h2>Especiales</h2>

</table>
</div>

<div style="overflow-x:auto;">
<table class = "table table-hover">
  <tr class="active">
    <th>Nombre</th>
    <th>Cantidad</th>
    <th>Almacen</th>
    <th>Prestados</th>
  </tr>
  {% for e in espe %}
 <tr>
	 <td>{{e.name}}</td>
	 <td>{{e.cantidad}}</td>
	 <td>{{e.almacen}}</td>
	 <td>{{e.prestadas}}</td>
  </tr>
  {% endfor %}
</table>
</div>

        </main>
    </div>
</div>
{% endblock %}
