{% extends '../base.html' %}
{% block title %}Medicamentos | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "almacen/navbar.html" %}

{# Cambiar todo esto para que sea dinamico #}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"> <i class="fas fa-box-open fa-3x"></i> </div>
                    <div class="col-md-1 col-auto">
                    <h1>Medicamentos</h1>
                </div>
            </div>
            </div>
	{% include "almacen/sidebar.html" %}

{% if medc != None %}
</table>
{% include "almacen/alert.html" %}
<div class="table-responsive">
    <div style="overflow-x:auto;">
<table class="table table-hover table-danger">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Caducidad</th>
    </tr>
  </thead>
  <tbody>
  {% for m in medc %}
 <tr>
	 <td>{{m.name}}</td>
	 <td>{{m.cantidad}}</td>
	 <td>{{m.fechaC}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
</div>
<br>
<br>
{%endif%}

<div class="table-responsive">
    <div style="overflow-x:auto;">
<table class = "table table-hover">
    <thead>
  <tr>
    <th>Nombre</th>
    <th>Cantidad</th>
    <th>Caducidad</th>
	{%if user.user_type != 5%}
    <th>Acciones</th>
	{%endif%}
  </tr>
  </thead>
   <tbody id="myTable">
  {% for med in medicamentos %}
 <tr>
	 <td>{{med.name}}</td>
	 <td>{{med.cantidad}}</td>
	 <td>{{med.fechaC}}</td>
	 {%if user.user_type != 5%}
	<td>                
	<form action="{% url 'almacen:addm-1' med.id %}" method="post" style="display: inline;">
		{% csrf_token %}
		<button type="submit" class="btn btn-link btn-xs" >
			<i class="fas fa-plus"></i> Agregar
		</button>
	</form>
	<form action="{% url 'almacen:minusm-1' med.id %}" method="post" style="display: inline;">
		{% csrf_token %}
		<button type="submit" class="btn btn-link btn-xs" >
			<i class="fas fa-minus"></i> Quitar
		</button>
	</form>
	</td>
	{%endif%}
  </tr>
  {% endfor %}
     </tbody>
</table>
</div>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
        </main>
    </div>
</div>
{% endblock %}


