{% extends '../base.html' %}
{% block title %}Almacen | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "almacen/navbar.html" %}


	{% include "almacen/sidebar.html" %}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"><i class="fas fa-plus fa-3x"></i></div>
                    <div class="col-md-1 col-auto">
                    <h1>Registro</h1>
                </div>
			
            </div>
            </div>

    	
<form method = "POST"  autocomplete="off">
{% csrf_token %}
{% for field in form %}
	<div 
		{% if field.id_for_label == 'id_refrigerado'%}
		    class="form-group form-check">
			<input id="{{ field.id_for_label }}"name="{{ field.html_name }}"
				type="checkbox" class="form-check-input"/> 
			<label class="form-check-label" for="id_refrigerado">Refrigerado</label> 
		{% else %}
			class="form-group"i>
			<input required 
				id="{{ field.id_for_label }}" maxlength="30" 
				name="{{ field.html_name }}"
				{% if field.id_for_label == 'id_fechaC' %}type="date" class="form-control" {% endif %}
				{% if field.id_for_label == 'id_cantidad' %}type="number" placeholder="Cantidad" class="form-control" {% endif %}
				{% if field.id_for_label == 'id_name' %}placeholder="Nombre" class="form-control" {% endif %}
				/> 	
		{% endif %}
	</div>
{% endfor %} 
<button class="btn btn-lg btn-info" type="submit">Guardar</button>
</form>

        </main>
    </div>
</div>

{% endblock %}
