{% load static %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-info flex-md-nowrap p-0 shadow" >
    <button class="navbar-toggler" type="button" id="btn-navbar">
        <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand col-md-2 col-sm-3 col-auto" href="{% url 'index'%}">
        <img src="{% static 'img/logo-lineal.png' %}" width="120" alt="DIF Jalisco">
    </a>
    <div class="input-group form-control-dark w-100">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-search"></i></div>
        </div>
        <input type="text"id="myInput" class="form-control form-control-dark" placeholder="Buscar" autocomplete="off">
    </div>
</nav>
