{% extends '../base.html' %}
{% block title %}Almacen | DIF Jalisco{% endblock %}
{% load static %}

{% block content %}
{% include "almacen/navbar.html" %}


	{% include "almacen/sidebar.html" %}
<div class="container-fluid">
    <div class="row">
        <main role="main">
            <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <div class="col-md-1 col-auto"><i class="fas fa-plus fa-3x"></i></div>
                    <div class="col-md-1 col-auto">
                    <h1>Registro</h1>
                </div>
			
            </div>
            </div>

<!--<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
-->     	
<form method = "POST" autocomplete="off">
{% csrf_token %}
{% for field in form %}
	<div 
		{% if field.id_for_label == 'id_refrigerado' or field.id_for_label == 'id_especial' %}
			class="form-group form-check">
			<input id="{{ field.id_for_label }}"maxlength="30"name="{{ field.html_name }}"	
				{% if field.id_for_label == 'id_refrigerado' %}type="checkbox" class="form-check-input"{% endif %}
				{% if field.id_for_label == 'id_especial' %}type="checkbox" class="form-check-input"{% endif %}
					/>
		{% else %}
			class="form-group">
			<input required  
				id="{{ field.id_for_label }}"maxlength="30"
				name="{{ field.html_name }}"
				{% if field.id_for_label == 'id_fechaC' %}type="date" class="form-control" {% endif %}
				{% if field.id_for_label == 'id_cantidad' %}type="number" class="form-control" placeholder="Cantidad" {%endif %}
				{% if field.id_for_label == 'id_name' %}placeholder="Nombre"class="form-control"{% endif %}
				{% if field.id_for_label == 'id_almacen' %}placeholder="Almacen"class="form-control"{% endif %}
				/> 
		{% endif %}
		
		

		{% if field.id_for_label == 'id_refrigerado'%}
			<label for="id_especial">Refrigerado</label> 
		{% endif %}
		{% if field.id_for_label == 'id_especial'%}
			<label for="id_especial">Especial</label> 
		{% endif %}
</div>
{% endfor %} 
<button class="btn btn-lg btn-info" type="submit">Guardar</button>
</form>

        </main>
    </div>
</div>

{% endblock %}
