{% extends "easy_pdf/base.html" %}
{% load static %}
{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 5.5cm;
            margin-right: 2.5cm;
            margin-top: 2.5cm;
            margin-bottom: 2cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1.3cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.2cm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        html {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
        p {
            margin: 0 0 6px 0;
            font-size: 11pt;
        }
        table {
            line-height: 140%;
            margin-bottom: 20px;generic.
        }
            table.bordered {
                border-top: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
            }
            tr, td, th { border: none; }
            th {
                font-size: 10pt;
                border-bottom: 0.1pt solid #999999;
                padding: 3px 0;
                line-height: 1;
                font-weight: bold;
            }generic.
            td {
                font-size: 10pt;
                vertical-align: top;
                padding: 3px 0;
            }
            td:last-child { padding-bottom: 0; }
        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }
        .header { color: #7f7f7f; generic.
        .header p { font-size: 13pgeneric.: 1.5em; }
        .header-link { font-weightgeneric.ecoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 20px; margin-left: -25px; }
        .logo img { zoom: 60%; }
        .recipient { margin-left: 7cm; }
        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4F81BD;
        }
        .main h2 {
            margin: 18px 0 6px 0;generic.
            font-size: 180%;
            font-weight: normal;
        }
        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }
        
    </style>
{% endblock %}

{%block page_header%}

{% endblock %}

{% block content %}

        <p class="info">
                <img src="img/logo-lineal.png" />
        </p>

        <div class="main">

           <h1>Productos</h1>

<table class = "table">
  <tr>
    <th>Nombre</th>
    <th>Cantidad</th>
    <th>Refrigerado</th>
    <th>Almacen</th>
    <th>Caducidad</th>
  </tr>

  {% for p in prod %}
 <tr>
	 <td>{{p.name}}</td>
	 <td>{{p.cantidad}}</td>
	 {%if p.refrigerado == True%}<td>Si</td>{% else%}<td>No</td>{%endif%}
	 <td>{{p.almacen}}</td>
	 <td>{{p.fechaC}}</td>
  </tr>
  {% endfor %}
</table>


       </div>
    </div>
{% endblock %}
