{% load static %}
<nav class="flex-md-nowrap bg-light sidebar">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>Acciones</span>
			<a class="d-flex align-items-center text-muted" href="#">
				<span data-feather="plus-circle"></span>
			</a>
		</h6>
		{% include "almacen/content/inicio/opcion.html" %}
		{% include "almacen/content/almacen/opcion.html" %}
		{% include "almacen/content/almacen/opcion2.html" %}
		{% include "almacen/content/insumos/opcion.html" %}
		{% include "almacen/content/almacen/opcion3.html" %}
		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>usuario</span>
			<a class="d-flex align-items-center text-muted" href="#">
				<span data-feather="plus-circle"></span>
			</a>
		</h6>
		{% include "almacen/content/ayuda/opcion.html" %}
		{% include "almacen/content/perfil/opcion.html" %}
		{% include "almacen/content/cerrar_sesion/opcion.html" %}
		</ul>
	</div>
</nav>
