<li class="nav-item">
    <a class="nav-link" href="{% url 'index'%}">
        <div class="row">
            <div class="col-1">
                <i class="fas fa-home"></i>
            </div>
            <div class="col">
                Inicio
            </div>
        </div>
    </a>
</li>
