<li class="nav-item">
    <div class="dropdown">
        <a class="nav-link dropdown" role="button" 
									 aria-haspopup="true" aria-expanded="false" href="{%url 'base:ingresados'%}">
            <div class="row">
                <div class="col-1">
                    <i class="fas fa-file-alt"></i>
                </div>
                <div class="col">
                    Ingresados 
                </div>
            </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <i class="fas fa-pencil-alt"></i> Ver
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-plus"></i> Agregar
            </a>

        </div>
    </div>
</li>
