<li class="nav-item">
	<a class="nav-link" href="{% url 'base:ayuda' %}">
		<div class="row">
			<div class="col-1">
				<i class="fas fa-question-circle"></i>
			</div>
			<div class="col">
				Ayuda
			</div>
		</div>
	</a>
</li>