<li class="nav-item">
	<a class="nav-link" href="{% url 'logout' %}">
		<div class="row">
			<div class="col-1">
				<i class="fas fa-sign-out-alt"></i>
			</div>
			<div class="col">
				<p class="">Cerrar sesión</p>
			</div>
		</div>
	</a>
</li>
